<table>
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Name
            </th>
        
        </tr>
    </thead>
    <tr ng-repeat="users in allUsers"
        ng-click="showComments(users)">
        <td>{{users.username}}</td>
        <td>{{users.name}}</td>
        
    </tr>
</table>
<ul ng-if="selectedUser != null">
    <li ng-if="selectedUser.company != null ">{{selectedUser.company}}</li>
    <li>{{selectedComment.comment}}</li>
        
</ul><br /><br />
<form novalidate class="simple-form" id="simple-form">
    Username: <input type="text" ng-model="user.username" /><br />
    Name:     <input type="text" ng-model="user.name" /><br />
    Company:  <input type="text" ng-model="user.company" /><br />
    Comment:  <textarea name="comment" form="simple-form"></textarea><br />
    
    <input type="submit" ng-click="update(user)" value="Save" />
</form>

    

